<%- include('partials/header') %>
    <div class='message'>                            
        <h1 style='font-size: 15px; margin-bottom: 15px;'>خطایی رخ داد، لطفاً دوباره تلاش کنید!</h1>
        <a href='https://subnetvpn.ml#signup' style='text-decoration:none; color: #FFFFFF; margin-top: 15px;'><h2 style='font-size: 17px; font-weight: 400; border-bottom: 1px dashed #FFFFFF; display: inline;'>تلاش دوباره</h2><a>
    </div>
    
    
</body>
</html>
