@import url("./fonts.css");

@import url("./animations.css");

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    direction: rtl;
    -webkit-tap-highlight-color: transparent;
    font-family: "Pelak";
}

:root {
    /* --main-color: #00695C; */
    --main-color: #C0392B;
    /* --main-color: #2F3542; */
    /* --main-color: #D32F2F; */
    --secondary-color: #FFFFFF;
}

*:focus {
    outline: none !important;
}

html {
    direction: rtl;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-weight: 400;
    background-color: var(--main-color);
    color: var(--secondary-color);
}

header {
    display: flex;
    height: 75px;
    padding-right: 35px;
    margin: auto;
    align-items: center;
    background-color: rgba(0, 105, 92, 0.5);
    background-color: hsla(6, 63%, 46%, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    animation: drop 1.5s ease;
    position: sticky;
    top: 0;
    z-index: +1;
}

.logo-container, .nav-links {
    display: flex;
    justify-content: center;
}

.logo-container {
    flex: 1;  
}

nav {
    flex: 10;
    margin-top: 10px;
}

.logo-link {
    height: 50px;
    width: 50px;
    background: url(./images/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-links {
    justify-content: right;
    list-style: none;
}

.nav-link, .nav-link:hover {
    line-height: 35px;
    vertical-align: -10px;
    font-weight: 800;
    font-size: 1.35rem;
    text-decoration: none;
    color: inherit;
    border-bottom: 0px var(--main-color);
    margin-right: 55px;
}

.nav-link:hover {
    border-bottom: 2px solid var(--secondary-color);
    transition: 0.1s ease;
}

nav-link:active {
    border-bottom: 2px solid var(--secondary-color);
}

#mtproxy {
    background-color: var(--secondary-color);
    color: var(--main-color);
    padding: 5px 9px;
    border-radius: 50px;
    transition: 0.5s ease;
}

#mtproxy:hover {
    border-bottom: 0px;
    background-color: rgba(230, 242, 241, 0.85);
}

.burger {
    display: none;
}

.burger div {
    width: 20px;
    height: 3px;
    background-color: var(--secondary-color);
    margin: 5px;
    transition: all 0.3s ease;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

.introduction-container {
    margin-top: 50px;
}

.introduction {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
}

.description {
    flex: 5;
}

.intro-text {
    margin-bottom: 20px;
}

.intro-text h1 {
    font-weight: 900;
    text-shadow: 0px -4px 12px rgba(0, 0, 0, 0.35);
    font-size: 7rem;
    margin-bottom: -10px;
    animation: to-left 1.5s ease;
}

.intro-text p {
    font-weight: 300;
    font-size: 2.5rem;
    animation: to-left 1.75s ease;
}

.aaronlogo {
    flex: 1;
}

.aaronlogo img {
    width: 340px;
    height: 340px;
    animation: to-right 2s ease;
}

.cta {
    margin-top: 15px;
    animation: top 2s ease;
}

.register, .more-info {
    display: inline-block;
    padding: 10px 15px;
    font-size: 2rem;
    text-decoration: none;
    border-radius: 25px;
    transition: 0.5s ease;
}

.register {
    font-weight: 900;
    color: var(--main-color);
    background-color: var(--secondary-color);
}

.register:hover {
    color: var(--main-color);
    background-color: rgba(255, 255, 255, 0.9);
}

.more-info {
    font-weight: 800;
    font-size: 1.85rem;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    margin-right: 15px;
}

.more-info:hover {
    color: var(--main-color);
    background-color: var(--secondary-color);
}

.scroll-down::before {
    direction: ltr;
    animation: bounce 1s ease infinite;
    bottom: 2rem;
    color: #fff;
    content: '╲╱';
    font-size: 2rem;
    height: 4rem;
    left: 50%;
    letter-spacing: -1px;
    line-height: 4rem;
    margin-left: -3rem;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    width: 6rem;
}

.benefits {
    margin-top: 300px;
    margin-bottom: 200px;
    padding-top: 100px;
}

.benefits-title {
    margin: auto;
    width: 80%;
    font-weight: 900;
    font-size: 5rem;
    text-align: center;
    border-bottom: 7px solid var(--secondary-color);
    margin-bottom: 85px;
}

.fast, .secure, .various {
    margin-bottom: 15vh;
}

.row {
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
}

.right {
    flex: 3;
}

.right h1 {
    font-weight: 900;
    font-size: 7rem;
    text-shadow: -2px 4px 12px rgba(0, 0, 0, 0.35);
    margin-bottom: 15px;
}

.right p {
    font-weight: 700;
    font-size: 1.75rem;
}

.left {
    flex: 1;
}

.left img {
    width: 250px;
    height: 250px;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.35));
    animation: drop 2s ease;
}

#secure {
    flex-direction: row-reverse;
}

#secure .left {
    flex: 3;
}

#secure .right {
    flex: 1;
}

.jump-in {
    width: 80%;
    margin: auto;
    margin-bottom: 85px;
    padding-top: 150px;
}

.jump-in h1, .pricing h1 {
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
}

.jump-in p {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10vh;
}

.form-container {
    width: 300px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding-top: 10px;
    border-style: solid;
    border-radius: 50px;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.9);
    animation: up 1s ease;
}

.form {
    font-size: 14px;
    position: relative;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    height: 85px;
    overflow: hidden;
}

.form input {
    width: 100%;
    height: 100%;
    color: hsl(223, 11%, 39%);
    padding-top: 20px;
    border: none;
    outline: none;
    background-color: var(--main-color);
}

.form label {
    color:  var(--secondary-color);
    font-weight: 300;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid  var(--secondary-color);
}

.form label::after {
    content: "";
    position: absolute;
    right: 0%;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid var(--secondary-color);
    transform: translateX(100%);
}

.content-name {
    position: absolute;
    bottom: 5px;
    right: 0px;
    transition: all 0.45s ease;

}

::placeholder {
    opacity: 0;
    transition: all 0.45s ease;
}

input:focus::placeholder {
    opacity: 1;
    font-weight: 300;
    color: var(--secondary-color);
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
    transform: translateY(-150%);
    font-size: 12px;
    font-weight: 700;
}

.form input:focus + .label-name::after, .form input:valid + .label-name::after {
    transform: translateX(0%);
    transition: transform 0.45s ease;

}

.form input, select, textarea {
    color: var(--secondary-color);
    margin-top: 10px;
}

input[type=submit] {
    font-weight: 800;
    font-size: 17px;
    color: var(--main-color);
}

.submit {
    width: 30%;
    height: 45px;
    margin-right: 35%;
    margin-top: 37px;
    border: none;
    border-radius: 19px;
    background-color: var(--secondary-color);
    transition: 0.5s ease-out;
}

.submit:hover {
    opacity: 0.9;
    cursor: pointer;
}

.pricing {
    margin-bottom: 250px;
    padding-top: 100px;
}

.pricing h1, .mtproxy-pricing-title {
    width: 80%;
    margin: auto;
    border-bottom: 7px solid rgba(255, 255, 255, 0.9);
    margin-bottom: 50px;
    font-size: 5rem;
    font-weight: 900;
}

.pricing-cards {
    width: 80%;
    margin: auto;
    display: flex;
}

.pricing-card-container {
    flex: 1;
}

.pricing-card {
    width: 285px;
    height: 350px;
    border-radius: 50px;
    background-color: var(--secondary-color);
    text-align: center;
    color: var(--main-color);
    margin: auto;
    padding: 35px 15px;
    transition: 1s ease;
}

.pricing-card:hover {
    /* box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.25); */
    box-shadow: 0px 5px 15px rgba(38, 38, 38, 0.5);
}

.pricing-card h2 {
    font-size: 3.25rem;
    font-weight: 900;
    margin: 0px 0px 25px 0px;
}

.pricing-card p {
    text-align: right ;
    font-size: 1.37rem;
    font-weight: 800;
    margin: 0px 10px 5px 0px;
}

.pricing-card h3 {
    font-size: 1.75rem;
    font-weight: 800;
    margin: 20px 0px 10px 0px;
}

.pricing-card h3 span {
    font-size: 5rem;
    font-weight: 900;
}

.pricing-card .buy {
    border-radius: 50px;
    padding: 5px 25px;
    text-decoration: none;
    color: var(--secondary-color);
    background-color: var(--main-color);
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 1px;
    transition: 0.9s ease;
}

.pricing-card .buy:hover {
    opacity: 0.9;
}

.mtproxy-logo {
    margin: auto;
    width: 350px;
    height: 350px;
    background-image: url(./images/mtproxy.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}

.mtproxy {
    margin-bottom: 150px;
    padding-top: 150px;
}

.mtproxy-title {
    font-size: 5rem;
    font-weight: 900;
    text-align: center;
}

.mtproxy-description {
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
}

.mtproxy-pricing-title {
    text-align: center;
    margin-top: 200px;
}

.questions a {
    text-decoration: none;
    color: var(--secondary-color);
}

.questions-picture {
    width: 350px;
    height: 350px;
    margin: auto;
    background-image: url(./images/questions.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 25px;
}

.questions {
    margin-bottom: 200px;
    padding-top: 100px;
}

.questions h1 {
    font-size: 5rem;
    font-weight: 900;
    text-align: center;
}

.questions p {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 15px;
}

.telegram-support {
    width: 170px;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid var(--secondary-color);
    text-align: center;
    border-radius: 90px;
    padding: 5px;
    padding-top: 10px;
}

.support-logo {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url(./images/support-logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 3px;
}

.telegram-support h2 {
    display: inline-block;
    vertical-align: 6px;
    line-height: 29px;
    font-size: 1.5rem;
    font-weight: 700;
}

footer {
    width: 80%;
    margin: auto;
    border-top: 2px solid var(--secondary-color);
    padding: 10px 0px 15px 0px;
}

footer h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
}

.message {
    width: 262px;
    height: 50px;
    background-color: var(--secondary-color);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    text-align: center;
    animation: fade_in 0.5s linear;
}

.logo {
    width: 150px;
    height: 150px;
    background-image: url(./images/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1.0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    animation: fade_inf 3s ease-out infinite;
    animation: down 1s ease;
}

.message h1 {
    font-weight: 800;
    font-size: 17px;
    color: var(--main-color);
    line-height: 50px;
}

.message p {
    font-weight: 400;
    color: var(--secondary-color);
    margin-top: 20px;
    font-size: 15px;   
}

.not-image {
    
    width: 400px;
    height: 400px;
    background-image: url(./images/404.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    animation: down 1s ease;
}


.not-h1 {
    font-weight: 800;
    font-size: 29px;
    color: var(--secondary-color);
    text-align: center;
    animation: up 1s ease;
}

.not-p {
    font-weight: 400;
    font-size: 15px;
    color: var(--secondary-color);
    opacity: 0.85;
    text-align: center;
    animation: up 1s ease;
    margin: 5px 0 0 0;
}

.login-area {
    font-family: "Pelak", sans-serif;
    font-weight: 400;
}

.login-logo {
    width: 85px;
    height: 85px;
    margin: auto;
    margin-top: 25px;
    background-image: url("./images/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
#login-heading {
    font-family: "Pelak", sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--secondary-color);
    text-align: center;
    margin-top: 5px;
}

.login-form {
    width: 350px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 50px 30px;
    background-color: var(--secondary-color);
    color: var(--main-color);
    border-radius: 50px;
}

.login-form label {
    font-family: "Pelak", sans-serif;
    font-weight: 800;
    font-size: 1.7rem;
}

.login-form input {
    width: 95%;
    margin: auto;
    background-color: hsl(6, 5%, 90%);
    outline: none;
    border: none;
    border-radius: 50px;
    height: 45px;
    margin: auto;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 17px;
    font-family: "Pelak", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 15px;
}

.login-form-submit {
    background-color: var(--main-color);
    color: var(--secondary-color);
    width: 30%;
    margin: 25px 35% 0px 35%;
    padding: 10px;
    border-radius: 50px;
    font-family: "Pelak", sans-serif;
    font-size: 1.7rem;
    font-weight: 800;
    border: none;
    outline: none;
    transition: 0.5s all;
}

.login-form-submit:hover {
    opacity: 0.9;
    cursor: pointer;
}

.user-heading {
    font-family: "Pelak", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    margin-top: 20px;
}

.user-heading span {
    font-family: "Pelak", sans-serif;
    font-weight: 700;
}

.account-heading {
    font-family: "Pelak", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 10px;
}

.account-heading span {
    font-family: "Pelak-Farsi-Numeral", sans-serif;
    font-weight: 600;
}

.user-area {
    font-family: "Pelak", sans-serif;
    padding-right: 5%;
    margin-top: 25px;
}
.logout {
    background-color: var(--secondary-color);
    border-radius: 50px;
    width: 35%;
    margin: auto;
    margin-top: 50px;
    padding: 15px;
    text-align: center;
    transition: 0.5s ease all;
}
.logout:hover {
    opacity: 0.9;
    cursor: pointer;
}

.logout a {
    font-family: "Pelak", sans-serif;
    font-size: 1.85rem;
    font-weight: 800;
    text-decoration: none;
    color: var(--main-color);
    text-align: center;
}

#users-form {
    height: 350px;
}

.admin {
    width: 95%;
    margin: auto;
}

.admin .title {
    font-size: 2rem;
    font-weight: 800;
}

.admin .table {
    border: 2px solid var(--secondary-color);
    border-radius: 15px;
    margin: 25px 0 0 0;
}

.admin .user {
    display: flex;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.85);
    padding: 5px;
}

.admin .user .text {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 10px;
}

@media screen and (max-width:992px) {
    
    body, html {
        overflow-x: hidden;
    }

    header {
        position: fixed;
        top: 0;
        z-index: +1;
        width: 100vw;
        height: 62px;
    }

    .logo-link {
        width: 39px;
        height: 39px;
    }
 
    .nav-links {
        position: absolute;
        left: 0%;
        height: 100vh;
        top: 0vh;
        background-color: var(--main-color);
        padding-top: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        background-color: var(--main-color);
    }

    .nav-links li, .nav-links li:hover {
        margin-left: 50px;
        margin-top: 15px;
        color: var(--secondary-color);
        opacity: 0;
    }

    .burger {
        display: block;
        margin: 7px 0px 0px 25px;
        cursor: pointer;
    }

    .introduction {
        flex-direction: column-reverse;
        margin-top: 100px;
        margin-bottom: 25px;
    }

    .aaronlogo img {
        width: 200px;
        height: 200px;
    }

    .description p {
        text-align: center;
    }

    .intro-text h1 {
        font-size: 4.5rem;
        text-align: center;
    }

    .intro-text p {
        font-size: 1.9rem;
        margin-top: 25px;
    }

    .cta {
        display: table;
        margin: auto;
    }

    .register, .more-info {
        font-size: 1.59rem;
    }

    .benefits {
        margin-bottom: 50px;
        padding-top: 75px;
    }

    .benefits h1, .pricing h1, .mtproxy-pricing-title, .questions h1 {
        font-size: 3.85rem;
    }

    .row {
        flex-direction: column-reverse;
        text-align: center;
    }

    .row p {
        font-size: 1.85rem;
    }

    #secure {
        flex-direction: column-reverse;
    }

    .jump-in {
        padding-top: 85px;
    }

    .jump-in h1 {
        font-size: 2.5rem;
    }

    .jump-in p {
        margin-bottom: 25px;
    }

    .form-container {
        width: 275px;
    }

    .pricing {
        margin-bottom: 100px;
    }

    .pricing-cards {
        flex-direction: column;
    }

    .pricing-card {
        width: 275px;
        height: 375px;
        margin-bottom: 25px;
    }

    .pricing-card h2 {
        margin-bottom: 35px;
    }

    .pricing-card h3 {
        margin-top: 35px;
        margin-bottom: 15px;
    }

    .mtproxy-logo {
        width: 275px;
        height: 275px;
    }

    .mtproxy-title {
        font-size: 2.75rem;
    }

    .mtproxy-description {
        width: 70%;
        margin: auto;
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 50px;
    }

    .questions {
        margin-bottom: 120px;
    }

    .questions-picture {
        width: 220px;
        height: 220px;
    }

    .questions p {
        font-size: 1.5rem;
    }

    footer h1 {
        font-size: 1.25rem;
    }

    .nav-active {
    transform: translateX(0%);
    }

    .login-form {
        width: 275px;
    }

    .login-form-submit {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }

    .logout {
        width: 50%;
    }
}

@media screen and (max-width:374px) {

    header {
        height: 55px;
    }

    .logo-link {
        width: 37px;
        height: 37px;
    }

    .burger {
        margin-top: 5px;
    }

    .introduction {
        margin-top: 100px;
    }

    .introduction h1 {
        font-size: 3.85rem;
    }

    .aaronlogo img {
        width: 250px;
        height: 250px;
    }

    .form-container {
        width: 250px;
    }

    .pricing-card {
        width: 250px;
        padding-right: 5px;
        padding-left: 5px;
    }

    .pricing-card h2 {
        margin-bottom: 30px;
    }

    .pricing-card p {
        font-size: 1.3rem;
    }

    .pricing-card h3 {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .questions {
        margin-bottom: 50px;
    }

    .questions-picture {
        width: 175px;
        height: 175px;
    }
}

@media screen and (min-width:1919px) {
    .main-section {
        width: 90%;
        margin: auto;
    }

    .aaronlogo img {
        width: 300px;
        height: 300px;
    }
}

@media not all and (min-resolution:.001dpcm) { @media {

    .nav-links {
        background-color: rgba(255, 255, 255, 0.85);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
    }
}}

@media screen  and (max-width: 500px) {

    .image {
        width: 300px;
        height: 300px;
    }
    
    h1 {
        font-size: 22px;
    }
    
    p {
        font-size: 12px;
    }
}
